.navstyle a{
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

.payment{
    padding: 10px;
    padding-top:20px;
    font-size: 2.5vh;
    color: grey;
}

.navOnHover{
    padding: 10px;
    color: grey;
}
.navOnHover:hover{
    border: 1px solid gray;
    color: white;
    border-radius: 3px;
}

.navstyle a:link, a:visited {
    color: grey;
    text-decoration: none;
}

.icon-message:hover{
    transform: scale(1.05);
    color: white;
   
   }
